@model EventPass1.Models.Usuario

@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/style-login.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="container">
    <div class="row">
        <div class="col-md-6 right-section">
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <p>Faça o login</p>
                <div class="form-group validator">
                    <input asp-for="Email" class="form-control" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-validator"></span>
                </div>
                <div class="form-group validator">
                    <input asp-for="Senha" class="form-control" placeholder="Senha" />
                    <span asp-validation-for="Senha" class="text-validator"></span>
                    <p style="margin: 0 0 5px 0; color: rgb(197, 0, 0); font-size: 15px;">@ViewBag.Message</p>
                    <a class="forget" asp-area="" asp-controller="Usuarios1" asp-action="EsqueciSenha">Esqueci
                        Senha</a>
                </div>

                <div class="form-group">
                    <input type="submit" value="Entrar" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <div class="col-md-6 left-section">
            <h4>Seu passaporte para diversão sem limites começa aqui. Faça o login agora!</h4>
            <div class="bottom-content">
                <p><b>Ainda não é cadastrado?</b></p>
                <p>
                    <a asp-action="Create" class="text-white">Cadastrar</a>
                </p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}