<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Exemplo de Footer</title>
		<link rel="stylesheet" href="~/css/style-footer.css" />
	</head>

	<body>
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4 coluna">
						<img src="~/img/logo-white.png" alt="Logo" class="img-fluid" style="max-width: 150px;" />
					</div>
					<div class="col-md-4">
						<p><b>CONTATO</b></p>
						<p>Email: exemplo@eventpass.com</p>
						<p>Endereço: Rua Exemplo, 123</p>
						<p>Telefone: (31) 1234-5678</p>
					</div>
					<div class="col-md-4">
						<p><b>INSCREVA-SE</b></p>
						<p>Inscreva-se para receber mais informações:</p>
						<div class="formulario">
							<input type="email" placeholder="Digite seu email" class="form-control" />
							<button type="submit" class="btn btn-primary">Inscrever-se</button>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>