@using System.Security.Claims;

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exemplo de Header</title>
    <link rel="stylesheet" href="~/css/style-header.css" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid d-flex justify-content-between align-items-center">
                <a class="navbar-brand " asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/logo.png" alt="Logo" width="80" />
                </a>

                <form asp-controller="Eventos" asp-action="Buscar" method="get"
                    class="input-group busca d-none d-sm-flex">
                    <input type="text" class="form-control" name="nomeEvento" placeholder="Pesquisar..."
                        aria-label="Pesquisar" aria-describedby="basic-addon2" />
                    <button class="btn btn-outline-secondary" type="submit">Buscar</button>
                </form>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                            var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
                            <li class="nav-item">
                                <span class="nowrap">Olá, @User.Identity.Name</span>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link-perfil" asp-area="" asp-controller="Usuarios1" asp-action="Details"
                                    asp-route-id="@userId">
                                    Meu Perfil
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Usuarios1" asp-action="Logout">Sair</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item" id="loginButton">
                                <a class="nav-link" asp-area="" asp-controller="Usuarios1" asp-action="Login">Login</a>
                            </li>
                        }
                    </ul>
                </div>

                <div class="input-group busca d-flex d-sm-none">
                    <input type="text" class="form-control" placeholder="Pesquisar..." aria-label="Pesquisar"
                        aria-describedby="basic-addon2" />
                    <button class="btn btn-outline-secondary" type="button" id="basic-addon2">Buscar</button>
                </div>
            </div>
        </nav>
    </header>
</body>

</html>