.title-delete {
  margin: 30px 0;
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}

.description {
  color: #000;
  margin: 20px 0;
  text-align: justify;
  font-size: x-large;
  font-style: normal;
  font-weight: 400;
}

.button-delete {
  margin-right: 10px;
  color: white;
  background-color: #f15a24;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 8px;
}

.button-voltar {
  border: 1px solid black;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  padding: 8px;
}
