@model EventPass.Models.Usuario

@{
    ViewData["Title"] = "Esqueci Senha";
}

<link rel="stylesheet" href="~/css/style-senha.css" />

<div class="container-senha">
    <p class="text-title" style="font-weight: bold; font-size: 18px">ESQUECI MINHA SENHA</p>

    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <div class="alert alert-success">
            @ViewBag.Message
        </div>
    }

    <form asp-action="EsqueciSenha" method="post">
        <div class="form-group">
            <label for="email">Insira seu email</label>
            <input type="email" class="form-control input-email" id="email" name="email" required>
        </div>
        <div>
            <button type="submit" class="button-send">Enviar</button>
            <a class="button-voltar" asp-area="" asp-controller="Usuarios" asp-action="Login">Voltar</a>
        </div>
    </form>
</div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
