@model EventPass.Models.Usuario

@{
    ViewData["Title"] = "Redefinir Senha";
}

<link rel="stylesheet" href="~/css/style-senha.css" />

<div class="container-senha">
    <p class="text-title" style="font-weight: bold; font-size: 18px">REDEFINIR SENHA</p>

    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <div class="alert alert-success">
            @ViewBag.Message
        </div>
    }

    <form asp-action="RedefinirSenha" method="post">
        <div class="form-group">
            <label for="novaSenha">Digite sua nova senha</label>
            <input type="password" class="form-control input-email" id="novaSenha" name="novaSenha" required>
        </div>
        <input type="hidden" name="token" value="@ViewBag.Token" />
        <div>
            <button type="submit" class="button-send">Enviar</button>
            <a class="button-voltar" asp-area="" asp-controller="Usuarios" asp-action="Login">Voltar</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
